#projects-tabs .nav-tabs li {
  width: 50%;
  text-align: center;
}

.project-header h5 {
  display: inline;
  padding-right: 10px;
}

.project-header .label {
  float: right;
}

.project-body {
  position: relative;
}

.project-body-section {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.project-body-title {
  display: block;
}

.project-body-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
